.container {
  max-width: 36rem;
  padding: 0 9rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

/* Share SNS */
.shareSns ul {
  padding-inline-start: 0px;
}

.shareSns li {
  display: inline-flex;
  vertical-align: middle;
  padding: 2px;
}

.shareSns li a:hover {
  opacity: 0.8;
}

.twitterImage {
  width: 3rem;
  height: 3rem;
}

.githubImage {
  width: 2rem;
  height: 2rem;
}
