.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

/* Share SNS */
.shareSns li {
  align-items: center;
  flex-direction: column;
  display: flex;
  /* display: inline-block; */
}

.shareSns li a:hover {
  opacity: 0.8;
}

.twitterImage {
  width: 3rem;
  height: 3rem;
}

.githubImage {
  width: 2rem;
  height: 2rem;
}
